{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container">

    <div class="row d-flex justify-container-center">
        
        <div class="col-12">
            <h2 class="text-center mt-5">Contact Bob's Radio </h2>
        </div>

        <div class="col-12">
            <p class="text-center mt-5">
                <i class="fas fa-envelope-square iconscon">
                </i>
                contact@bobsradio.live
            </p>
            <p class="text-center mt-5">
                <i class="fas fa-phone-square-alt iconscon">
                </i>
                +91 9916658455
            </p>
            <p class="text-center mt-5">
                <span class="artdetahead">Follow @</span>
                <a href="https://www.facebook.com/BoBs-Radio-109160751652982">
                    <i class="fab fa-facebook-square iconscon ml-3"></i> 
                </a>
                <a href="https://www.instagram.com/p/CYiyvhhv0y7/?utm_medium=copy_link">
                    <i class="fab fa-instagram-square iconscon ml-3"></i> 
                </a>
            </p>
        </div>

        <!-- <div class="col-12">
            <div class="row ">
                <div class="col-4">
                    <p class="text-center">
                        <a class="nodecor" href="">
                            <i class="fab fa-facebook-square iconscon">
                            </i>
                        </a>
                    </p>
                    <p class="text-center">
                        <a class="nodecor" href="">
                            <i class="fab fa-instagram-square iconscon">
                            </i>
                        </a>
                    </p>
                </div>
            </div>
        </div> -->
        
        </div>
    </div>
</div>

{% endblock content %}