{% extends 'main.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <h2>Bob's Podcast</h2>
        </div>
    </div>
    <div class="row mt-5 d-flex justify-content-between">
        {% for podcast in podcasts %}
        <div class="col-3">
            <div class="row artist-grid">
                <div class="col-12 p-0 ">
                    <!-- <img src="{{ artist.image.url }}" alt="" class="img-fluid artist-img" /> -->
                    <iframe class="img-fluid podcastiframe" src="{{ podcast.url }}" frameborder="0"></iframe>
                </div>
                <div class="col-12 artistnamegrid">
                    <p class="text-center artistname">
                        {{ podcast.title }}
                    </p>
        
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock content %}
